h1
{
  border: 10px;
  border-style: outset;
  border-color: blue;
  color: white;
  text-align: center;
  background-color: blue;
  padding: 20px;
  margin-bottom: 100px;
}

h2
{
  margin-top: 100px;
}

.inline
{
  position: relative;

}

.inline > p:nth-child(3), .inline > p:nth-child(2) {
  margin-left:100px;
}

img{
  position: absolute;
  top:0px;
  left:10px;
  width:72px;
  height:72px;
}

.one{
  border:5px solid blue;
}

.two{
  border:5px solid pink;
}

.three{
  border:5px solid violet;
}

.fifth:first-child{
  border:5px solid mediumseagreen;
}

.fifth:last-child{
  border:5px solid tomato;
}

@media only screen and (min-width: 768px) and (max-width:991px){
  body {
    display: flex;
    flex-direction: column;   
  }
  .one, .two, .threeAndFour, .three ,.fourth, .fifth {
    width:100%;
  }
  .one{
   flex:1; 
  } 
  .oneAndTwo{
    flex-direction: row;
  }
  .two{
    flex:1; 
   }
   
   .threeAndFour{
     display:flex;
     flex-direction: column;
   }
   .three{
    flex:1; 
   }  
   .fourth{
    flex:1; 
    display:flex;
   } 
   .fifth{
    flex:0.8; 
   } 
}

@media only screen and (min-width: 992px){
  body {
    display: flex;
    flex-direction: column;
  }

  .oneAndTwo{
    display:flex;
    flex:1;
  }
  .one{
    flex:9;
  }
  .two{
    flex:3;
  }
  .threeAndFour{
    flex:1;
    display:flex;
    flex-direction: row;
  }
  .three{
    flex:1;
  }
  .fourth{
    flex:1;
    display:flex;
    flex-direction: column;
    
  }
  .fifth{
    flex:0.5;
  }
}
p
{
  text-indent: 15px;
}

span
{
  margin-left: auto;
  margin-right: auto;
}

.note
{
  background-color: yellow;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: gold;
  padding: 15px;

}


#color_red
{
  color: red;
}

#color_blue
{
  color: blue;
}

table
{
  border: 3px solid;
  color: black;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}

th, td
{
  padding: 15px;
  border: 3px solid;
}

/* iframe
{
  height: 500px;
  width: 1000px;
} */

.address_option
{
  padding: 0px;
  margin: 0px;
}

td[rowspan="3"]
{
  background-color: gold;
}

td[rowspan="2"]
{
  background-color: cyan;
}

tr:nth-child(n+3) > td:nth-child(n+2):not([rowspan]):not(:empty)
{
  background-color: pink;
}