#list_div
{
    margin-bottom: 15%;
}

#add_Todo_Button
{
    float: left;
}

#login_Button
{
    float: right;
}

.box_button
{
    float: left;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 10px;
}

#form_box
{
    background-color: lightskyblue;
    border-style: outset;
    border-color: skyblue;
    border-width: 3px;
    padding: 10px;
    position: relative;
}

#login_Box, #addList_Box/*, #toDo_div*/
{
    display: none;
}

.block_area
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#toDoList
{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-collapse: collapse;
    width: 100%;
}

#thead
{
    text-align: center;
    font-weight: bold;
}

#toDoList td
{
    border: 1px solid black;
}

#toDoTitle td
{
    width: 14%;
    height: 150px;
}