h2
{
    text-align: center;
}

#all_total div
{
    width: 50%;
    height: auto;
    border-style: outset;
    border-width: 3px;
    padding:10px;
    background-color: cyan;
    border-color: #E0FFFF;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#all_total div:hover
{
    background-color: #40E0D0;
}