#thead
{
    color: white;
    background-color: skyblue;
}

table
{
    border-collapse: collapse;
}

tr, td
{   
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

.bold_h2
{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}